*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp/cache/sass/
*.log
data/*/*.mon
data/*/*.yml
database.yml
public/

# YARD artifacts
.yardoc
_yardoc
doc/
