<h2>このサービスの使い方</h2>
<p>見たい映画をメモできます。</p>
<p>見た映画を記録できます。</p>
<p class="finish"><%= link_to 'こちらのページを参照してください。', about_path %></p>

<h3>最初に見たい映画・見たばかりの映画を探しましょう。</h3>
<p>
下の検索エリアにキーワードを入力してください。<br />
検索はすべてのページの右上にある検索ボックスからも行えます。
<%= form_tag search_movies_path, :method => "get" do -%><%= text_field_tag 'search[word]', "#{params[:search][:word] if params[:search]}", :size => 12 %><%= image_submit_tag('layout/search.png') %><% end %>
<p>
