// Place all the styles related to the movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#admin_headline {
  margin: 0px;
  padding: 5px;
  border-bottom: solid 1px red;
}


.list li {
  margin: 7px;
}

#admin_headline li {
  font-weight: bold;
  display: inline;
}
#admin_headline li a{
  padding: 10px;
}

h1 {
  font-weight: normal;
  font-size: x-large;
  background-color: #339900;
  padding: 5px;
  margin:  8px 0px;
}
h2 {
  font-weight: normal;
  font-size: large;
  background-color: #66cc33;
  padding: 4px;
  margin:  4px 0px;
}
h3 {
  font-weight: normal;
  font-size: normal;
  border-bottom: solid 1px #66cc33;
  padding: 2px;
  margin:  2px 0px;
}

.box {
  margin-bottom: 32px;
}

table {
  margin: 8px 5px;
}
th {
  padding: 0px 6px;
  color: #339900;
  font-weight: normal;
}
td {
  padding: 0px 6px;
}
table .number {
  text-align: right;
}
table detail {
  font-size: x-small;
}
