/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

$site-color:         #339900;
$site-color-sub:     #66cc00;
$active-color:       #8B5A00;
$active-color-sub:   #DAA520;

h1 {
  margin: 5px 0px;
  color: $site-color;
  font-size: x-large;
  font-weight: bold;

  padding: 5px 5px 0px 2px;

  border-bottom: solid 1px $site-color;

  img {
    vertical-align: middle;
  }
}
h2 {
  margin: 5px 0px;
  padding: 4px;

  color: #ffffff;
  font-size: large;
  font-weight: bold;

  background: -webkit-gradient(linear, left top, left bottom, from($site-color-sub), to($site-color));
  border-top: solid 1px #117700;
  border-bottom: solid 1px #117700;
  text-shadow: 1px 1px 1px $site-color;
}
h3 {
  border-bottom: solid 1px #117700;
  padding: 0px 4px;
  margin: 5px 0px;

  color: $site-color;
  font-size: large;
  font-weight: bold;
}

p {
  display: block;
  margin: 2px 5px;
  padding: 2px 0px;
}
.finish {
  margin-bottom: 32px;
}

#headline {
  background-color: #000000;
  font-weight: bold;
  padding: 3px 2px;
  height: 42px;

  #service_logo {
    color: $site-color;
    font-size: small;
    padding-top: 4px;
    margin-right: 8px;
    float: right;
  }

  .logo {
    margin-left: 4px;
    vertical-align: middle;
  }

  #left_line {
    width: 30%;
    padding-top: 4px;
    padding-right: 4px;
    float: left;
  }

  .author_image {
    border: solid #444444 1px;
  }

  #headline_search {
    padding-top: 4px;
    display: none;
    background-color: #000000;
  }

  #headline_search_trigger {
    img {
      cursor: pointer;
      vertical-align: middle;
    }
  }

  #headline_search {
    span {
      color: #ffffff;
    }
  }

  .headline_search_box {
    font-size: large;
    height: 32px;
    margin: 0px 0px;
    padding: 0px;
  }

  a:link { color: #ffffff; }
  a:visited { color: #ffffff; }
  a:active { color: #ffffff; }
  a:hover { color: #ffffff; }
}

#author {
  color: #ffffff;
  font-size: large;
  padding: 5px 0px;
}

#footerline {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  font-size: small;

  ul {
    list-style: none;
    margin-top: 40px;
    border-top: solid 1px $site-color;
    padding: 5px;
  }

  li {
    display: inline;
  }
}


a:link    {text-decoration: none; color: #000000; }
a:visited {text-decoration: none; color: #000000; }
a:active  {text-decoration: none; color: #000000; }
a:hover   {text-decoration: none; color: #000000; }


/* clearfix */
.clearfix:after
clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#narrow_items {
  margin: 25px 0px;
  .narrow_items_type a:link {
    color: #ffffff;
    vertical-align: middle;
  }
  .narrow_items_type a:visited {
    color: #ffffff;
    vertical-align: middle;
  }
  .narrow_items_type a:active {
    color: #ffffff;
    vertical-align: middle;
  }
  .narrow_items_type a:hover {
    color: #ffffff;
    vertical-align: middle;
  }
  .narrow_items_type {
    background-color: #666666;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    margin: 0px;
    padding: 10px 4px;

    color: #ffffff;
  }
  .narrow_items_type img {
    vertical-align: top;
  }

  .narrow_items_type_selected a:link { color: $site-color; }
  .narrow_items_type_selected a:visited { color: $site-color; }
  .narrow_items_type_selected a:active { color: $site-color; }
  .narrow_items_type_selected a:hover { color: $site-color; }
  .narrow_items_type_selected {
    vertical-align: middle;

    background-color: #ffffff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px $site-color;

    margin: 0px;
    padding: 10px;

    color: $site-color;
    font-weight: bold;
  }
  .narrow_items_type_selected img {
    vertical-align: top;
  }
}

table.tableout {
  margin: 5px 0px;
  border: 1px #e3e3e3 solid;
  border-collapse: collapse;
  border-spacing: 0;
  th {
    padding: 5px;
    border: #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    background: #F5F5F5;
    color: #000000;
    line-height: 120%;
    text-align: center;
    vertical-align: middle;
  }
  td {
    padding: 5px;
    border: 1px #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    text-align: center;
    font-size: large;
  }
  td.contents {
    text-align: left;
    font-weight: bold;
    font-size: large;
  }
  td.contents a:hover { color: $site-color; }
  td.contents a:link { color: $site-color; }
  td.contents a:visited { color: $site-color; }
  td.contents a:active { color: $site-color; }
  td.number {
    text-align: right;
  }
}

.bow {
  color: #E47911;
  font-family: arial,helvetica,osaka,"MS PGothic",sans-serif;
  font-size: 120%;
  font-weight: bold;
  padding-left:  6px;
  padding-right: 2px;
}

.emphasis {
  color: $site-color;
  font-weight: bold;
}
notice {
  color: #666666;
  font-size: small;
}

.read_more {
  color: $site-color;
  font-size: x-small;
  font-weight: bold;
}

.list {
  list-style-type: none
}
.list li {
  margin: 5px;
}
.back_path {
  margin: 10px;
  color: $site-color;
  font-weight: bold;
  font-size: small;
}

.ad {
  margin: 10px 0px;
}

.active_tile {
  color: #ffffff;
  text-shadow: 1px 1px 1px $site-color;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: $site-color;
  background: -webkit-gradient(linear, left top, left bottom, from($active-color-sub), to($active-color));
}

#display_movies {
}
.display_movies {
  margin: 5px 0px;
  h3 img {
    vertical-align: middle;
  }
  h3 span {
    font-size: small;
  }
  .each_activity {
    height: 34px;
  }
}

.actions {
  background-color: #eeeeee;
  border: solid 1px #cccccc;
  font-size: normal;
}


#search_box_for_firster {
  font-size: large;
  width: 220px;
  height: 32px;
  margin: 8px 0px;
  padding: 0px;
}

