/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#headline
{
  background-color: #000000;
  font-weight: bold;
  padding: 3px 2px;
}
#headline div
{
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
}
#headline div span
{
  font-weight: bold;
}
#headline #headline_social_services
{
  color: #339900;
  font-size: large;
  padding-top: 4px;
}
#headline #headline_social_services a
{
  color: #999999;
  font-size: small;
}
#headline #headline_social_services img
{
  margin-right: 4px;
  vertical-align: middle;
}
#headline #headline_search_trigger img
{
  cursor: pointer;
  vertical-align: middle;
}
#headline #headline_search
{
  display: none;
}
#headline .headline_search_box
{
  font-size: large;
  height: 22px;
  margin: 0px 0px;
  padding: 0px;
}
#headline a:link { color: #ffffff; }
#headline a:visited { color: #ffffff; }
#headline a:active { color: #ffffff; }
#headline a:hover { color: #ffffff; }

#author
{
  color: #ffffff;
  font-size: large;
  padding: 5px 0px;
}
#author .ranking_path
{
  margin: 0px 15px;
  font-size: x-small;
}

#footerline
{
  width: 100%;
  background-color: #ffffff;

  text-align: center;
}
#footerline ul
{
  list-style: none;
  margin-top: 40px;
  border-top: solid 1px #339900;
  padding: 5px;
}

#footerline li
{
  display: inline;
}

a { text-decoration: none; }
a:link    {text-decoration: none; color: #000000; }
a:visited {text-decoration: none; color: #000000; }
a:active  {text-decoration: none; color: #000000; }
a:hover   {text-decoration: none; color: #000000; }


/* clearfix */
.clearfix:after
clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#narrow_items
{
  padding: 10px;
}
#narrow_items .narrow_items_type a:link
{
  color: #ffffff;
  vertical-align: middle;
}
#narrow_items .narrow_items_type a:visited
{
  color: #ffffff;
  vertical-align: middle;
}
#narrow_items .narrow_items_type a:active
{
  color: #ffffff;
  vertical-align: middle;
}
#narrow_items .narrow_items_type a:hover
{
  color: #ffffff;
  vertical-align: middle;
}
#narrow_items .narrow_items_type
{
  background-color: #666666;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  margin: 0px;
  padding: 10px 4px;

  color: #ffffff;
}
#narrow_items .narrow_items_type img
{
  vertical-align: top;
}
#narrow_items .narrow_items_type_selected a:link { color: #339900; }
#narrow_items .narrow_items_type_selected a:visited { color: #339900; }
#narrow_items .narrow_items_type_selected a:active { color: #339900; }
#narrow_items .narrow_items_type_selected a:hover { color: #339900; }
#narrow_items .narrow_items_type_selected
{
  vertical-align: middle;

  background-color: #ffffff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #339900;

  margin: 0px;
  padding: 10px;

  color: #339900;
  font-weight: bold;
}
#narrow_items .narrow_items_type_selected img
{
  vertical-align: top;
}

h2
{
  margin: 5px;
}

table.tableout
{
  margin: 5px;
  border: 1px #e3e3e3 solid;
  border-collapse: collapse;
  border-spacing: 0;
}
table.tableout th
{
  padding: 5px;
  border: #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  background: #F5F5F5;
  color: #000000;
  line-height: 120%;
  text-align: center;
  vertical-align: middle;
}
table.tableout td
{
  padding: 5px;
  border: 1px #E3E3E3 solid;
  border-width: 0 0 1px 1px;
  text-align: center;
}
table.tableout td.contents
{
  text-align: left;
  font-weight: bold;
  font-size: large;
}
table.tableout td.contents a:hover { color: #339900; }
table.tableout td.contents a:link { color: #339900; }
table.tableout td.contents a:visited { color: #339900; }
table.tableout td.contents a:active { color: #339900; }
table.tableout td.number
{
  text-align: right;
}

.linkable
{
  color: #E47911;
  font-family: arial,helvetica,osaka,"MS PGothic",sans-serif;
  font-size: 120%;
  font-weight: bold;
  padding-left:  6px;
  padding-right: 2px;
}
