// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a { text-decoration: none; }

ul.login_service {
  margin: 0px 5px;

  li {
    display: inline;
  }

  .login a:link    {text-decoration: underline; color: #339900; }
  .login a:visited {text-decoration: underline; color: #339900; }
  .login a:active  {text-decoration: underline; color: #339900; }
  .login a:hover   {text-decoration: underline; color: #339900; }
}

section {
  margin: 5px;

  p {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
