// Place all the styles related to the seens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$site-color:         #339900;
$site-color-sub:     #66cc00;
$active-color:       #8B5A00;
$active-color-sub:   #DAA520;

#movie_detail {
  background-color: #ffffff;
  .rightside {
    display: table-cell;
  }
  .rightside .movie_outline {
    font-size: large;
  }
}

.info {
  margin: 5px 0px;
  span {
    color: $site-color;
    font-size: small;
  }
}

.story {
  color: $site-color;
  font-size: small;
  margin-bottom: 6px;
}


#movie_seens {
  margin: 18px 0px;
}
#movie_seens .action {
  font-size: large;
  color: #ffffff;

  text-align: center;
  font-weight: bold;
  border-left: 1px solid #fff;

  margin: 0px 1px;
  padding: 8px;
}
#movie_seens .action a {
  color: #ffffff
}

.result_of_same_movie_seener {
  margin: 2px 0px 2px 0px;
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
  .leftside {
    padding: 5px;
    float: left;
  }
  .rightside {
    padding: 5px;
    display: table-cell;
    img {
      vertical-align: middle;
    }
    .edit_link {
      padding: 2px;
      color: #ffffff;
      font-size: normal;
      font-weight: bold;
    }
  }
}

.more {
  color: #f30000;
  font-size: x-small;
  font-weight: bold;
}

#movie_affiliate {
  margin: 0px 5px 8px;
}

#watch_on_place {
  color: #ffffff;
  font-size: large;
  font-weight: bold;
  list-style: none;
  background-color: $site-color;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
}

#watch_areas {
  display: none;
  li {
    margin: 2px;
    display: inline;
    font-size: large;
  }
}
#watch_area_used li {
  display: block;
  padding: 5px;

  font-size: large;

  background-color: #eeeeee;
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; /* Safari */
  -o-text-overflow: ellipsis; /* Opera */
}
#watch_area_cinemas li {
  display: block;
  padding: 5px;

  background-color: #eeeeee;
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; /* Safari */
  -o-text-overflow: ellipsis; /* Opera */
}
.areas {
  border: solid 1px $site-color;
  padding: 2px;
  margin: 2px;
}

#seen_star {
  font-size: large;
  font-weight: bold;
  padding: 8px;
  color: #cccccc;
  img {
    vertical-align: top;
  }
}

#watch_date {
  padding: 8px;
  color: $site-color;
  font-weight: bold;
}

#memo {
  font-size: large;
  width: 100%;
  background-color: #eeeeee;
  color: $site-color;
  font-weight: bold;
}

.selected_area {
  color: #ffffff;
  font-weight: bold;
  background-color: $site-color;
}
#watch_areas_close {
  margin: 2px 0px;
  color: $site-color;
  font-weight: bold;
  list-style: none;
  background-color: #cccccc;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 4px;
}

#google_plus_setup {
  margin-top: 6px;
  margin-bottom: 2px;
}
