<% unless block_items.blank? -%>
<h2><%= block_title %></h2>
<%= render :partial => block_partial, :locals => {:items => block_items, :limit => block_limit} -%>

<%= link_to block_link do -%>
<p class="finish move">
<%= linksym.html_safe %><span>もっと見る</span>
</p>
<% end -%>

<% end -%>
